#zmist{
    color: bisque;
    background-color: blue;
}
#zmist:hover{
    color:yellowgreen;
    background-color: magenta;
}

#zmist:active{
    background-color: yellow;
    color: teal;
}

#zmist{
    padding: 10px 20px;
    border: 2px solid #000;
    border-style: dashed;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-size: 120%;
    
}

p{
    background-color: antiquewhite;
    color: rebeccapurple;
    font-size: 20px;
}
#zagolovok2{
    font-size: 22px;
    text-align: center;
    font-size: 120%;
}

#zagolovok{
    text-align: center;
    font-size: 120%;
}

#back{
    font-style:italic;
}

#doZmisty{
    font-weight: bold;
}




@media(min-width:992px){
    .col-lg-1 {
    width: 8.33%;
    }
    .col-lg-2 {
    width: 16.66%;
    }
    .col-lg-3 {
    width: 25%;
    }
    .col-lg-4 {
    width: 33.33%;
    }
    .col-lg-5 {
    width: 41.66%;
    }
    .col-lg-6 {
    width: 50%;
    } 
    .col-lg-7 {
    width: 58.33%;
    }
    .col-lg-8 {
    width: 66.66%;
    }
    .col-lg-9 {
    width: 75%;
    }
    .col-lg-10 {
    width: 83.33%;
    }
    .col-lg-11 {
    width: 91.66%;
    }
    .col-lg-12 {
    width: 100%;
    }
}

@media(min-width:768px) and (max-width:992px){
    .col-md-1 {
    width: 8.33%;
    }
    .col-md-2 {
    width: 16.66%;
    }
    .col-md-3 {
    width: 25%;
    }
    .col-md-4 {
    width: 33.33%;
    }
    .col-md-5 {
    width: 41.66%;
    }
    .col-md-6 {
    width: 50%;
    }
    .col-md-7 {
    width: 58.33%;
    }
    .col-md-8 {
    width: 66.66%;
    }
    .col-md-9 {
    width: 75%;
    }
    .col-md-10 {
    width: 83.33%;
    }
    .col-md-11 {
    width: 91.66%;
    }
    .col-md-12 {
    width: 100%;
    }
}

@media(max-width:768px){
    .col-sm-1 {
    width: 8.33%;
    }
    .col-sm-2 {
    width: 16.66%;
    }
    .col-sm-3 {
    width: 25%;
    }
    .col-sm-4 {
    width: 33.33%;
    }
    .col-sm-5 {
    width: 41.66%;
    }
    .col-sm-6 {
    width: 50%;
    }
    .col-sm-7 {
    width: 58.33%;
    }
    .col-sm-8 {
    width: 66.66%;
    }
    .col-sm-9 {
    width: 75%;
    }
    .col-sm-10 {
    width: 83.33%;
    }
    .col-sm-11 {
    width: 91.66%;
    }
    .col-sm-12 {
    width: 100%;
    }

}


.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
  }

.block{
    padding: 15px;
    border: 1px solid black;
    margin: 10px;
}